{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="{% static 'js/menu.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/humbergerMenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Rental Umbrella</title>
</head>
<header class="bg-[#8cd4ff] p-4 content-shadow">
    <a href="/" class="title mr-auto">シェア傘</a>
  <div class="hamburger-menu p-3">
    <div class="hamburger-icon">
      
      <span></span>
      <span></span>
      <span></span>
      
    </div>
    <nav class="menu">
      <button class="close-btn">✖</button>
      <a class="humg-menu p-1" href="/rental/">・レンタルフォーム</a>
      <a class="humg-menu p-1" href="#" >・借りられている傘</a>
      <a class="humg-menu p-1" href="/logout/">・ログアウト</a>
    </nav>
  </div> 
  <script src="menu.js" defer></script>

</header>

<body class="">
  <main class="p-4">
    {% block content %}
    {% endblock %}
  </main>

</body>
</html>
