{% extends "base.html" %}

{% block title %}パスワード忘れ{% endblock %}

{% block content %}

<form class="flex flex-col justify-center gap-4" method="post">
    {% csrf_token %}
    <label for="email">メールアドレスを入力してください:</label>
    <input type="email" required  name="email" class="border border-[#808080] rounded-full px-2 bg-white w-full h-[50px] text-center text-3xl"/>
    <button type="submit" name="lost" class="btn-color w-2/3 text-3xl mt-8 mb-16 px-8 py-8 cursor-pointer">送信</button>
</form>

{% endblock %}