{% extends "base.html" %}

{% block title %}ログイン{% endblock %}

{% block content %}
<form method="post" action="/login/">
  {% csrf_token %}
  <div class="w-full text-center flex flex-col justify-center items-center mt-10 gap-12">
    {% if form.errors %}
      {{form.errors}}
    {% endif %}
    <div class="w-10/11 h-full grid grid-cols-[1fr_3fr] px-3 py-9 rounded-md content-shadow content-color sm:w-3/5 sm:px-10" >
      <label class="w-hull h-full flex items-center grid place-items-center text-[20px] " for="{{ form.name.id_for_label }}">名前</label>
      {{ form.username }}
      {% if form.username.errors %}
      <div class="error">
        {{ form.username.errors }}
      </div>
      {% endif %}
    </div>

    <div class="w-10/11 h-full grid grid-cols-[4fr_9fr] px-3 py-8 rounded-md content-shadow content-color sm:w-3/5 sm:px-10 sm:grid-cols-[1fr_3fr]">
      <label class="w-full flex items-center grid place-items-center text-[20px]" for="{{ form.password.id_for_label }}">パスワード</label>
      {{ form.password }}
      {% if form.password.errors %}
      <div class="error">
        {{ form.password.errors }}
      </div>
      {% endif %}
    </div>

    <button type="submit" class="btn-color mt-8 mb-16 px-8 py-8 cursor-pointer">送信</button>
  </div>
</form>

{% endblock %}