{% extends "base.html" %}

{% block title %}QRコードでレンタルするフォーム{% endblock %}

{% block content %}
<form method="post" action="{% url 'rental' pk=pk %}">
  {% csrf_token %}
  <div class="w-full text-center flex flex-col justify-center items-center mt-12 gap-12">
    <div class="text-3xl">
      {% if is_rentaled %}
        <h1>レンタルフォーム</h1>
      {% else %}
        <h1>返却フォーム</h1>
      {% endif %}      
    </div>


    {% if messages %}
      {% for message in messages %}
        <p class="text-red-500">{{ message }}</p>
      {% endfor %}
    {% endif %}
    {% if is_rentaled %}
      <button type="submit" name="lend" class="btn-color w-2/3 text-3xl mt-8 mb-16 px-8 py-8 cursor-pointer">レンタルしますか？</button>
      <!-- ホームに戻す -->
      <button name="cancel" class="btn-color-second w-2/3 text-3xl mt-8 mb-16 px-8 py-8 cursor-pointer">キャンセル</button>
    {% else %}
      <button type="submit" name="return" class="btn-color w-2/3 text-3xl mt-8 mb-16 px-8 py-8 cursor-pointer">返却</button>
      <!-- ホームに戻す -->
      <button name="cancel" class="btn-color-second w-2/3 text-3xl mt-8 mb-16 px-8 py-8 cursor-pointer">キャンセル</button>
    {% endif %}
  </div>
</form>

{% endblock %}